{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block form %}
    <h1>Category edit</h1>
    <div style="display: inline-block;">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-primary" value="Save" />
        {{ form_end(edit_form) }}
    </div>
    <div style="display: inline-block;">
    {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Supprimer">
    {{ form_end(delete_form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('admin_category_index') }}">Back to the list</a>
        </li>
            
    </ul>
{% endblock %}
