{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block form %}
    <h1>{% trans %}categorie.creation{% endtrans %}</h1>

    {{ form_start(form) }}
        <div>
            {{ form_label(form.name, "name.label") }} 
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div>
            {{ form_label(form.description, "description.label") }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        <input type="submit" class="btn btn-primary" value="{% trans %}categorie.save{% endtrans %}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_category_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}