{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }}
        <a href="{{ path("fos_user_security_logout") }}">{{ "page.deconnexion" |trans}}</a>
    {% else %}<a href="{{ path("fos_user_security_login") }}">{{ "page.connection" |trans}}</a> {{ "or" |trans}} <a href="{{ path("fos_user_registration_register") }}">{{ "page.register" |trans}}</a>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-offset-4 jumbotron">
                <h1 class="text-center">{{ "page.home" |trans }}</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-lg-offset-2 jumbotron">
                {% for category in categories %}
                    <h2><a href="{{ path('page_category', { 'id': category.id }) }}">{{ category.name }}</a></h2>
                    <p>{{ category.description }}</p>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}
