{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-offset-4 jumbotron">
                <h1 class="text-center">{{ "product.title" |trans }} {{ product.name }}</h1>
                <p><a href="{{ path('page_category', { 'id' : categoryId} )}}">Return</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-lg-offset-2 jumbotron">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ product.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ "product.createddate" |trans }}</th>
                            <td>{% if product.createdDate %}{{ product.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{{ "product.updateddate" |trans }}</th>
                            <td>{% if product.updatedDate %}{{ product.updatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{{ "product.name" |trans }}</th>
                            <td>{{ product.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ "product.description" |trans }}</th>
                            <td>{{ product.description }}</td>
                        </tr>
                        <tr>
                            <th>{{ "product.sku" |trans }}</th>
                            <td>{{ product.sku }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
